/*PARAMETER*/
.brand {
  color: #196732;
}
.bg-brand {
  background-color: #196732;
}
/*
'Noto Sans TC' cwTeXFangSong cwTeXMing


@fontfamilyeng:'Cormorant Infant' , arial, sans-serif;*/
/*@view_width:100%;;*/
