/*PARAMETER*/
.brand {
  color: #196732;
}
.bg-brand {
  background-color: #196732;
}
/*
'Noto Sans TC' cwTeXFangSong cwTeXMing


@fontfamilyeng:'Cormorant Infant' , arial, sans-serif;*/
/*@view_width:100%;;*/
.left {
  float: left;
}
.right {
  float: right;
}
.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=url],
.pure-form input[type=date],
.pure-form input[type=month],
.pure-form input[type=time],
.pure-form input[type=datetime],
.pure-form input[type=datetime-local],
.pure-form input[type=week],
.pure-form input[type=number],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=color],
.pure-form select,
.pure-form textarea {
  padding: 0em .6em;
}
/*custimed slider*/
input[type="range"] {
  -webkit-appearance: none;
  /* 限定範圍 */
  width: 180px;
  height: 3px;
  outline: none;
  /* 避免點選會有藍線或虛線 */
  background: #333;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  /* 設為相對位置，為了前後區塊的絕對位置而設定 */
  width: 15px;
  height: 15px;
  background: #444;
  border-radius: 50%;
  transition: .2s;
  /* 點選放大時候的漸變時間 */
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 0;
  width: 2.25em;
  height: 2.25em;
  border: solid 2px #000;
  background: #fff;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0.15em;
  left: -0.85em;
  font-size: 2em;
  line-height: 0.8;
  color: #000;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.red {
  color: #e71f19;
}
.yellow {
  color: #feef00;
}
.darkGray {
  color: #474747;
}
.bg-white {
  background: #fff;
}
.bg-darkGray {
  background: #474747;
}
.bg-brown {
  background: #231815;
}
.bg-black {
  background: #000;
}
.bg-red {
  background: #e71f19;
}
.bold {
  font-weight: bold;
  font-family: 'Microsoft JhengHei', 'LiHei Pro', arial, sans-serif;
}
.abs {
  position: absolute;
}
.relat {
  position: relative;
}
.fix {
  position: fixed;
}
.transparent {
  background-color: transparent;
  background: none;
}
.custom-input {
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  outline: none;
}
.custom-input:focus {
  outline: none;
}
.red {
  color: #e60012;
}
.line {
  width: 100%;
  height: 5px;
  margin: 10px auto;
  float: none;
  padding: 0;
}
.line > div {
  float: left;
  padding: 0;
  margin: 0;
  height: 5px;
  border-radius: 4px;
  margin-right: -5px;
}
.line .color1 {
  background: #f35c69;
  width: 23%;
  z-index: 6;
  margin-left: 10px;
}
.line .color2 {
  background: #f3c85c;
  width: 10%;
  z-index: 5;
}
.line .color3 {
  background: #7bbd93;
  width: 15%;
  z-index: 4;
}
.line .color4 {
  background: #ff6a62;
  width: 27%;
  z-index: 3;
}
.line .color5 {
  background: #4dd6d4;
  width: 12%;
  z-index: 2;
}
.line .color6 {
  background: #e0539f;
  width: 13%;
  z-index: 1;
}
.wrapper {
  padding: 0;
}
@media (max-width: 767px) {
  .wrapper {
    background: #fff;
  }
}
.wrapper .container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper .container > .row {
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper .container > .row .kv {
  margin: 0;
  padding: 0;
}
.wrapper .container > .row.kv3 > div,
.wrapper .container > .row.kv4 > div {
  padding: 0;
}
.wrapper .container > .row.kv2 {
  margin-bottom: 10vw;
}
.wrapper .container > .row.kv2 .title-s {
  padding: 2vw 0;
}
@media (max-width: 767px) {
  .wrapper .container > .row.kv2 .title-s {
    padding: 7vw 0 5vw 0;
  }
}
.wrapper .container > .row.kv2 .pic {
  float: none;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .wrapper .container > .row.kv2 .pic {
    width: 1000px;
  }
}
.wrapper .container > .row .titles {
  width: 50%;
  left: 25%;
  margin: 0 ;
  padding: 0;
  text-align: center;
}
.wrapper .container > .row .titles.part1 {
  top: 5%;
}
.wrapper .container > .row .titles .title-s {
  font-size: 3vw;
  font-family: 'Noto Sans TC', '新細明體', 'LiHei Pro', arial, sans-serif;
}
.wrapper .container > .row .titles .prdname {
  margin: 1vw auto;
}
.wrapper .container > .row .titles .desc {
  font-weight: bold;
  font-family: 'Microsoft JhengHei', 'LiHei Pro', arial, sans-serif;
  font-size: 1vw;
  text-align: left;
}
.wrapper .container > .row .titles.part2 {
  bottom: 5%;
}
.wrapper .container > .row .titles.part2 .desc {
  margin-top: 1vw;
}
@media (max-width: 767px) {
  .wrapper .container > .row .titles {
    width: 80%;
    left: 10%;
  }
  .wrapper .container > .row .titles.part1 {
    top: 5%;
  }
  .wrapper .container > .row .titles.part2 {
    bottom: 5%;
  }
  .wrapper .container > .row .titles .title-s {
    font-size: 5vw;
  }
  .wrapper .container > .row .titles .prdname {
    margin: 2vw auto;
  }
  .wrapper .container > .row .titles .desc {
    font-size: 2vw;
  }
}
.wrapper .container > .row.kv4 .titles {
  width: 100%;
  left: 0;
  top: 15%;
}
.wrapper .container > .row.kv4 .titles > div {
  text-align: center;
}
.wrapper .container > .row.kv4 .titles .desc {
  padding: 1vw 0;
}
