@import "config.less";
@import "common.less";
@import "mixin.less";
.bg{
    .abs;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
        
        
    }
    .cover{
        opacity:0;
    }
#canvas{
    width:100%;
    height:100%;
    top:0;
    left:0;
    canvas{
        .abs;
        top:0;
        left:0;
    }
}
.ghost1{
    top:0;
    left:0;
    opacity:0;
}
.ghost2{
        height:665px;
        bottom:0;
        left:0;
        opacity:0;
}
.ghost3{
        width:626px;
        height:572px;
        bottom:0;
        left:0;
        opacity:0;     
}
.wave3{
        width:747px;
        height:172px;
        bottom:0;
        left:0;
        opacity:0;     
}