@import "config.less";
@import "common.less";
@import "mixin.less";
.banner{
    .btn-j{
        
    }

}



.wrapper {
    width: 100%;
    height:100%;
    padding: 0;

    .bg-all{
        width:750px;
        height:100%;
        min-height:100vh;
        background:url('../img/dest/redrobe-bg.jpg');
        background-repeat:repeat-y;
    }
    .container {
        
        width: 100%;

        
        .talign(center);
        .title{
            display:inline-block;
            margin:80px 0 0px; 
            left:-30px;
            
            .blood1{
                left:60px;
                top:60px;
                opacity:1;

            }
            .blood2{
                left:155px;
                top:-160px;
                opacity:1;
                .scale(.9);
            }
           
            >img.relat{
                opacity:1;
            }
            
            opacity:1;
        }
        
        >.sub{
            margin:0px 0 30px;
            opacity:1;
           
            
        }
        .video{
            width:730px;
            height:420px;
            .bg-black;
            margin:50px -5px 80px;
        }
        .content{
            margin: 50px auto 150px;
            .blk{
                margin: 170px auto 300px;
            }
            .b1{
                
                .t1{
                    top:-130px;
                    left:380px;
                }
                .t2{
                    left:20px;
                    bottom:-120px;
                }
            }
            .b2{
               
                .p{
                    left:-25px;
                }
                .t1{
                    top:-50px;
                    left:180px;
                }
                .t2{
                    left:80px;
                    bottom:-60px;
                }
            }
            .b3{
               margin: 170px auto 250px;
                .t1{
                    top:-70px;
                    left:140px;
                }
                .t2{
                    left:80px;
                    bottom:-60px;
                }
            }
            .b4{
                 left:30px;
                .t1{
                    top:-120px;
                    left:30px;
                }
                .t2{
                    left:180px;
                    bottom:-140px;
                }
            }
            .b5{
                
                .t1{
                    top:-80px;
                    left:80px;
                }
                .t2{
                    left:180px;
                    bottom:-140px;
                }
            }
            .b6{
                left:40px;margin-bottom:500px;
                .t1{
                    top:-80px;
                    left:250px;
                }
                .t2{
                    left:20px;
                    bottom:-70px;
                }
            }
            .b7{
                left:-30px;
                margin-bottom:200px;
                .t1{
                    top:-260px;
                    left:550px;
                }
                .t2{
                    left:80px;
                    bottom:-70px;
                }
            }
            .b8{
                left:70px;
                margin-bottom:0px;
            }
            .b9{
                left:-30px;top:-80px;

                margin:0px auto 740px;
                
                .t1{
                    left:380px;
                    bottom:-70px;
                }
            }
            .b10{
                

                margin:170px auto 340px;
                
                .t1{
                    left:80px;
                    top:-100px;
                }
                .t2{
                    left:180px;
                    bottom:-100px;
                }
            }
            .b11{
                margin:170px auto;
                .l1{
                    top:-100px;left:20px;
                    .scale(.8);
                }
                .l2{
                    top:50px;left:380px;
                    .scale(1.6);
                }
                .l3{
                    top:400px;left:50px;
                    .scale(.5);
                }
                .p{
                    overflow:hidden;
                    width:640px;
                    margin: 0 auto;
                    .front{
                        top:-50px;
                        left:-10px;
                    }
                    >.framez{
                        width:100%;
                        height:100%;top:0;
                        left:0;
                        .setBorderStyle(4px ,#000);
                    }
                }

                
                
                
            }
        }
         .list{
            margin: 50px auto 150px;
        }
        .btn-j{
            margin:0px auto ;
            display:block;
            opacity:1;
            .relat;
            
            .t{
                left:160px;
                top:80px;
                &.coming{
                    left:260px;
                    top:110px;
                }
            }
        }
        .btn2{
            top:-10px;
            margin:0 0 150px;
            .prd{
                left:50px;
                top:-180px;
                opacity:1;
            }
        }
       
    }

}
