@import "config.less";
@import "common.less";
@import "mixin.less";
.banner{
    .btn-j{
        
    }

}



.wrapper {
    width: 100%;
    height:100%;
    padding: 0;

    
    .container {
        
        width: 100%;

        
        .talign(center);
        .title{
            display:inline-block;
            margin:590px 0 0; 
            .sub{
                top:-40px;
                left:20px;
            }
            .blood1{
                left:30px;
                top:50px;
            }
            .blood2{
                left:155px;
                top:-160px;
            }
            .shadow{
                left:-29px;
                top:-29px;

            }

            img.abs{
                left:0;
                top:0;
                opacity:.2;
            }
            opacity:1;
        }
        
        >.sub{
            margin:0px 0 20px;
            .sub1{opacity:0;}
            .sub2{
                left:300px;
                top:20px;
                opacity:0;
                
            }
        }
        >.btn-j{
            margin:0px auto 0;
            display:block;
        }
        .btn2{
            top:-10px;
            margin:0 0 150px;
            .prd{
                left:50px;
                top:-230px;
            }
        }
       
    }

}
