@import "config.less";
@import "common.less";
@import "mixin.less";
.banner{
    .btn-j{
        
    }

}

.pop{
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10001;
    &.pop-preview{
        z-index: 10002;
    }
    .bgx{
        width:100%;
        height:100%;
        .bg-black;
        opacity:.7;
    }
    .btnlogin{
        top:45%;
        .fontsize(34px);
        .bold;
        background:#4167b2;

        padding:10px;
        .white;

        width:320px;
        margin:0 auto;
        .talign(center);
        border-radius:10px;
        
    }
    .center{
        left:50%;
        top:50%;
    }
   
}

.wrapper {
    width: 100%;
    height:100%;
    padding: 0;

    
    .container {
        
        width: 100%;

        
        .talign(center);
        .title{
            display:inline-block;
            margin:590px 0 0; 
            @media (min-width: 768px){
               
            }
            .sub{
                top:-40px;
                left:20px;
                opacity:0;
            }
            .blood1{
                left:30px;
                top:50px;opacity:0;
            }
            .blood2{
                left:155px;
                top:-160px;opacity:0;
            }
            .shadow{
                left:-29px;
                top:-29px;

            }
            >img.relat{
                opacity:0;
            }
            
            opacity:1;
        }
        
        >.sub{
            margin:0px 0 20px;opacity:0;
            .sub1{}
            
        }
        >.btn-j{
            margin:0px auto 0;
            display:block;
            opacity:0;
        }
        .btn2{
            top:-10px;
            margin:0 0 150px;
            .prd{
                left:50px;
                top:-230px;
                opacity:0;
            }
        }
       
    }

}
